@model BookClub.Models.Name
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="LoginID" class="control-label">Имя</label>
        <input type="text" asp-for="LoginID" class="form-control" />
        
    </div>
    
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
