@using BookClub.Models
@model UserBooks
@using (Html.BeginForm())
{
    
    <body>
        <form>
            <h2>Удоление книги</h2>
            <dl>
                <dt>Название книги</dt>
                <dd>

                    @Html.EditorFor(UserBooks => UserBooks.id)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                <input type="submit" value="Удалить" />
            }
        </form>

    </body>
}