
@using BookClub.Models
@{
    ViewBag.Title = "Все пользователи";
}
<a class="text-info" asp-action="Create">Войти в учетную запись</a>
<a class="text-success" asp-action="Create">Зарегестрироваться</a>

