@model IEnumerable<BookClub.Models.Book>
@using BookClub.Models

@{
    ViewData["Title"] = "Index";
}

<h3>Добро пожаловать @ViewBag.Message</h3><a class="text-info" asp-action="MyBooK">Ваши прочитанные книги</a>
<table class="table">
    <tr><td>Name Book</td><td>Add</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.NameBook</td><td><div class="text-warning">@Html.ActionLink("Прочитал", "AddBook", new { id = item.NameBook })</div></td></tr>
    }
</table>
